/* Here goes your CSS */
/* Here goes your CSS */
body {
  background-color: #EBEBEB;
  color: rgb(50, 50, 50);
  font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0 0 23px 0;
}

p {
  line-height: 23px;
}

h1 {
    font-family: 'Alegreya', serif;
    font-weight: 700;
    line-height: 46px;
    font-size: 46px;
    margin: 0 0 43px 0;
    color: #DD5555;
    }

h2,h3,h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 21px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 23px 0;
    }

    a {
      text-decoration: none;
      color: #A8A8A8;
    }

    a:hover {
      color: #DD5555;
    }

    .container {
      width: 900px;
      margin: 30px auto;
    }

    .card {
      background: white;
      border-radius: 2px;
      box-shadow: 1px 2px 3px #CFCFCF;
      padding: 30px;
      width: 800px;
      margin: 20px auto;
    }

    .image-circle {
      width: 100px;
      border-radius: 50%;
      border: 3px solid #cccccc;
    }

    table img {
      width: 200px;
    }

    .text-center {
    text-align: center;
    }

    .list-inline > li {
      display: inline-block;
      padding: 0px 20px;
    }

    .list-inline {
      padding-left: 0px;
    }


    .btn-blue {
        background-color: #DD5555;
        color: white;
        font-weight: 500;
        padding: 10px;
        border-radius: 4px;
      }

    #sidebar {
    background-color: #384047;
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 150px;
    text-align: center;
    }

    #page-content {
      margin-left: 300px;
    }
